#u1594
{
	border-color: #000000;
	background-color: #94292D;
	position: relative;
}

#u1549
{
	border-color: #000000;
	background-color: #C1272D;
	position: relative;
}

#u1566-3
{
	text-align: left;
	line-height: 1;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u1550,#accordionu1552,#u1565,#u1567,#u1572,#u1568,#u1574,#u1576
{
	position: relative;
}

#u1550_img,#u1572_img,#u1568_img,#u1574_img,#u1576_img
{
	vertical-align: top;
}

#u1570
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

