@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 373px;
	min-height: 562px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #C1272D;
	padding: 7px 4px 1px 3px;
}

#u1692
{
	z-index: 2;
	width: 172px;
	margin-left: 101px;
}

#u1685
{
	z-index: 20;
	width: 256px;
	margin-left: 59px;
	margin-top: 47px;
	position: relative;
}

#u1685_img
{
	vertical-align: top;
}

#u1683-20
{
	z-index: 22;
	width: 324px;
	min-height: 97px;
	line-height: 1.75;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-left: 25px;
	margin-top: 21px;
	position: relative;
}

#u1683-15
{
	text-decoration: underline;
}

#u1683-2,#u1683-4,#u1683-6,#u1683-8,#u1683-10,#u1683-11,#u1683-12,#u1683-14,#u1683-16,#u1683-17
{
	font-size: 12px;
}

#u1720
{
	z-index: 4;
	width: 373px;
	padding-bottom: 13px;
	top: -1px;
	margin-bottom: -1px;
}

#accordionu1694
{
	z-index: 5;
	width: 366px;
	margin-right: -10000px;
	margin-top: -38px;
	left: 4px;
}

#u1695
{
	z-index: 6;
	width: 366px;
}

#u1707-3
{
	z-index: 7;
	width: 356px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1696
{
	z-index: 10;
	width: 338px;
	margin-left: 28px;
	margin-top: 27px;
}

#u1701
{
	z-index: 13;
	width: 32px;
	margin-right: -10000px;
	left: 186px;
}

#u1697
{
	z-index: 17;
	width: 32px;
	margin-right: -10000px;
	left: 226px;
}

#u1703
{
	z-index: 15;
	width: 32px;
	margin-right: -10000px;
	left: 266px;
}

#u1705
{
	z-index: 11;
	width: 32px;
	margin-right: -10000px;
	left: 306px;
}

#u1699
{
	z-index: 19;
	width: 82px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 9px;
}

#page .verticalspacer
{
	clear: both;
}

