.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu1451-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -19px;
	padding: 1px 259px 436px 19px;
}

#u1451-4
{
	z-index: 18;
	width: 278px;
	min-height: 32px;
	top: 35px;
	left: 50%;
	margin-left: -499px;
}

#u2770-4
{
	z-index: 46;
	width: 187px;
	min-height: 32px;
	top: 86px;
	left: 50%;
	margin-left: -499px;
}

#u2771-4
{
	z-index: 50;
	width: 212px;
	min-height: 32px;
	top: 137px;
	left: 50%;
	margin-left: -499px;
}

#u1457-4
{
	z-index: 42;
	width: 59px;
	min-height: 6px;
	top: 209px;
	left: 50%;
	margin-left: -499px;
}

#u1455-4
{
	z-index: 34;
	width: 69px;
	min-height: 6px;
	top: 257px;
	left: 50%;
	margin-left: -499px;
}

#u1452-4
{
	z-index: 22;
	width: 59px;
	min-height: 6px;
	top: 304px;
	left: 50%;
	margin-left: -499px;
}

#u1453-4
{
	z-index: 26;
	width: 59px;
	min-height: 6px;
	top: 352px;
	left: 50%;
	margin-left: -499px;
}

#u1454-4
{
	z-index: 30;
	width: 199px;
	min-height: 6px;
	top: 399px;
	left: 50%;
	margin-left: -499px;
}

#u1456-4
{
	z-index: 38;
	width: 59px;
	min-height: 6px;
	top: 447px;
	left: 50%;
	margin-left: -499px;
}

#u2033
{
	z-index: 2;
	width: 455px;
	border-color: #000000;
	background-color: #FFFF32;
	background-color: rgba(255, 255, 0, 0.8);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 306px;
	padding: 42px 80px 61.07714424797217px 99px;
	-pie-background: rgba(255, 255, 0, 0.8);
}

#u2051
{
	z-index: 3;
	width: 349px;
	min-height: 273px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 43px;
	position: relative;
}

#u2054-14
{
	z-index: 4;
	width: 455px;
	min-height: 76px;
	text-align: center;
	line-height: 1;
	font-size: 11px;
	font-family: ヒラギノ明朝 Pro W3, Hiragino Mincho Pro, ＭＳ Ｐ明朝, MS PMincho, serif;
	font-weight: bold;
	margin-top: 36px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

