.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.6500000000001px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 20px;
	margin-bottom: 99px;
}

#u1451-4
{
	z-index: 12;
	width: 278px;
	min-height: 32px;
	top: 35px;
	left: 50%;
	margin-left: -499px;
}

#pu2770-4
{
	width: 0.01px;
	left: -19px;
	position: relative;
}

#u2770-4
{
	z-index: 40;
	width: 187px;
	min-height: 32px;
	top: 86px;
	left: 50%;
	margin-left: -499px;
}

#u1625-4
{
	z-index: 8;
	width: 605px;
	min-height: 88px;
	border-color: #000000;
	background-color: #F5FF77;
	background-color: rgba(243, 255, 86, 0.8);
	line-height: 2.12;
	text-indent: 3px;
	font-size: 40px;
	font-family: ヒラギノ明朝 Pro W3, Hiragino Mincho Pro, ＭＳ Ｐ明朝, MS PMincho, serif;
	position: relative;
	margin-right: -10000px;
	left: 319px;
	-pie-background: rgba(243, 255, 86, 0.8);
}

#u2771-4
{
	z-index: 44;
	width: 212px;
	min-height: 32px;
	top: 137px;
	left: 50%;
	margin-left: -499px;
}

#ppu1457-4
{
	width: 0.01px;
	left: -19px;
	margin-top: 24px;
	position: relative;
}

#pu1457-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#pu1457-4_position_content
{
	margin-top: -173px;
	margin-bottom: 388px;
}

#u1457-4
{
	z-index: 36;
	width: 59px;
	min-height: 6px;
	top: 209px;
	left: 50%;
	margin-left: -499px;
}

#u1455-4
{
	z-index: 28;
	width: 69px;
	min-height: 6px;
	top: 257px;
	left: 50%;
	margin-left: -499px;
}

#u1452-4
{
	z-index: 16;
	width: 59px;
	min-height: 6px;
	top: 304px;
	left: 50%;
	margin-left: -499px;
}

#u1453-4
{
	z-index: 20;
	width: 59px;
	min-height: 6px;
	top: 352px;
	left: 50%;
	margin-left: -499px;
}

#u1454-4
{
	z-index: 24;
	width: 199px;
	min-height: 6px;
	top: 399px;
	left: 50%;
	margin-left: -499px;
}

#u1596
{
	z-index: 2;
	width: 179px;
	border-color: #000000;
	background-color: #F37A4F;
	background-color: rgba(241, 90, 36, 0.8);
	position: relative;
	margin-right: -10000px;
	left: 319px;
	padding: 14px 55px 16px;
	-pie-background: rgba(241, 90, 36, 0.8);
}

#u1603-4
{
	z-index: 48;
	width: 179px;
	text-align: center;
	letter-spacing: 17px;
	font-size: 17px;
	line-height: 1.75;
	font-family: ヒラギノ明朝 Pro W3, Hiragino Mincho Pro, ＭＳ Ｐ明朝, MS PMincho, serif;
	position: relative;
}

#u1598
{
	z-index: 4;
	width: 162px;
	margin-left: 9px;
	margin-top: 10px;
	position: relative;
}

#u1611-4
{
	z-index: 52;
	width: 179px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 17px;
	line-height: 1.75;
	font-family: ヒラギノ明朝 Pro W3, Hiragino Mincho Pro, ＭＳ Ｐ明朝, MS PMincho, serif;
	margin-top: 7px;
	position: relative;
}

#u1597
{
	z-index: 3;
	width: 286px;
	border-color: #000000;
	background-color: #32BAB0;
	background-color: rgba(0, 169, 157, 0.8);
	padding-left: 3px;
	padding-top: 14px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 630px;
	-pie-background: rgba(0, 169, 157, 0.8);
}

#u1621-4
{
	z-index: 56;
	width: 286px;
	text-align: center;
	letter-spacing: 13px;
	font-size: 17px;
	line-height: 1.75;
	font-family: ヒラギノ明朝 Pro W3, Hiragino Mincho Pro, ＭＳ Ｐ明朝, MS PMincho, serif;
	position: relative;
}

#u1612
{
	z-index: 6;
	width: 165px;
	margin-left: 61px;
	margin-top: 10px;
	position: relative;
}

#u1623-4
{
	z-index: 60;
	width: 286px;
	text-align: center;
	letter-spacing: 11px;
	font-size: 17px;
	line-height: 1.75;
	font-family: ヒラギノ明朝 Pro W3, Hiragino Mincho Pro, ＭＳ Ｐ明朝, MS PMincho, serif;
	margin-top: 4px;
	position: relative;
}

#u1456-4
{
	z-index: 32;
	width: 59px;
	min-height: 6px;
	top: 447px;
	left: 50%;
	margin-left: -499px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

