#u2247-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFF00;
	text-align: center;
	letter-spacing: 3px;
	line-height: 1.75;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

