@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/ballet.jpg") no-repeat center top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 470.65px;
	padding-top: 28px;
	padding-bottom: 71.35000000000002px;
}

#u2247-4
{
	z-index: 93;
	width: 260px;
}

#pu2452
{
	width: 0.01px;
	margin-top: 18px;
	position: relative;
}

#u2452
{
	z-index: 2;
	width: 380px;
	height: 452px;
	border-color: #000000;
	background-color: #FFFF32;
	background-color: rgba(255, 255, 0, 0.8);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 0, 0.8);
}

#widgetu2415
{
	z-index: 3;
	width: 0.01px;
	height: 409px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 19px;
}

#widgetu2416
{
	z-index: 4;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu2416.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2417-4
{
	z-index: 5;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu2416:hover #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2416.focus-st #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2420-4
{
	z-index: 9;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2416.non-empty-st #u2420-4
{
	background-color: #FFFFFF;
}

#widgetu2416:hover #u2420-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2416.focus-st #u2420-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2416.non-empty-st #u2420-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2416:hover #u2420-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2416.focus-st #u2420-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2446
{
	z-index: 13;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#widgetu2446.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 55px -10000px 0px 0px;
}

#u2448-4
{
	z-index: 14;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu2446:hover #u2448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2446.focus-st #u2448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2447-4
{
	z-index: 18;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2446.non-empty-st #u2447-4
{
	background-color: #FFFFFF;
}

#widgetu2446:hover #u2447-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2446.focus-st #u2447-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2446.non-empty-st #u2447-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2446:hover #u2447-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2446.focus-st #u2447-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2421-4
{
	z-index: 22;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 10px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 141px;
}

#widgetu2415.frm-sub-st #u2421-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2422-4
{
	z-index: 26;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 10px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 141px;
}

#widgetu2415.frm-subm-err-st #u2422-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2440-4
{
	z-index: 30;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 10px;
	line-height: 1;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 141px;
}

#widgetu2415.frm-sub-st #u2421-4,#widgetu2415.frm-subm-err-st #u2422-4,#widgetu2415.frm-subm-ok-st #u2440-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2415.frm-subm-ok-st #u2440-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2434-17
{
	z-index: 34;
	min-height: 31px;
	width: 131px;
	background: url("../../images/u2434-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 111px;
}

#u2434-17:hover
{
	background: url("../../images/u2434-17-r.png") no-repeat 0px 0px;
}

#u2434-17:active
{
	background: url("../../images/u2434-17-m.png") no-repeat 0px 0px;
}

#widgetu2415.frm-sub-st #u2434-17
{
	background: url("../../images/u2434-17-fs.png") no-repeat 0px 0px;
}

#widgetu2429
{
	z-index: 51;
	width: 340px;
	height: 94px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
}

#widgetu2429.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 273px -10000px 0px 0px;
}

#u2430-4
{
	z-index: 52;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu2446.fld-err-st #u2448-4,#widgetu2429:hover #u2430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2429.focus-st #u2430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2416.fld-err-st #u2417-4,#widgetu2429.fld-err-st #u2430-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2431-10
{
	z-index: 56;
	width: 328px;
	min-height: 62px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2429.non-empty-st #u2431-10
{
	background-color: #FFFFFF;
}

#widgetu2429:hover #u2431-10
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 62px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2429.focus-st #u2431-10
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 62px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2429.fld-err-st #u2431-10
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 62px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2429.non-empty-st #u2431-10 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2429:hover #u2431-10 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2429.focus-st #u2431-10 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2429_input,#widgetu2429_prompt
{
	width: 328px;
	min-height: 62px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 12px;
	font-style: italic;
	padding: 6px;
}

#widgetu2441
{
	z-index: 66;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
}

#widgetu2441.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 109px -10000px 0px 0px;
}

#u2442-4
{
	z-index: 67;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu2441:hover #u2442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2441.focus-st #u2442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2445-4
{
	z-index: 71;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2441.non-empty-st #u2445-4
{
	background-color: #FFFFFF;
}

#widgetu2441:hover #u2445-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2441.focus-st #u2445-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2441.non-empty-st #u2445-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2441:hover #u2445-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2441.focus-st #u2445-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2435
{
	z-index: 75;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
}

#widgetu2435.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 164px -10000px 0px 0px;
}

#u2439-4
{
	z-index: 76;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu2441.fld-err-st #u2442-4,#widgetu2435:hover #u2439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2435.focus-st #u2439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2437-4
{
	z-index: 80;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2435.non-empty-st #u2437-4
{
	background-color: #FFFFFF;
}

#widgetu2435:hover #u2437-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2435.focus-st #u2437-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2435.non-empty-st #u2437-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2435:hover #u2437-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2435.focus-st #u2437-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2722
{
	z-index: 84;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
}

#widgetu2722.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 218px -10000px 0px 0px;
}

#u2725-4
{
	z-index: 85;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #6B6B6B;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu2435.fld-err-st #u2439-4,#widgetu2722:hover #u2725-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2722.focus-st #u2725-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2722.fld-err-st #u2725-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2416.fld-err-st #u2417-4 p,#widgetu2416.fld-err-st #u2417-4 span,#widgetu2446.fld-err-st #u2448-4 p,#widgetu2446.fld-err-st #u2448-4 span,#widgetu2429.fld-err-st #u2430-4 p,#widgetu2429.fld-err-st #u2430-4 span,#widgetu2441.fld-err-st #u2442-4 p,#widgetu2441.fld-err-st #u2442-4 span,#widgetu2435.fld-err-st #u2439-4 p,#widgetu2435.fld-err-st #u2439-4 span,#widgetu2722.fld-err-st #u2725-4 p,#widgetu2722.fld-err-st #u2725-4 span
{
	color: #D7244C;
}

#u2724-4
{
	z-index: 89;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	font-size: 12px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2722.non-empty-st #u2724-4
{
	background-color: #FFFFFF;
}

#widgetu2722:hover #u2724-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2722.focus-st #u2724-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2416.fld-err-st #u2420-4,#widgetu2446.fld-err-st #u2447-4,#widgetu2441.fld-err-st #u2445-4,#widgetu2435.fld-err-st #u2437-4,#widgetu2722.fld-err-st #u2724-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2722.non-empty-st #u2724-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2722:hover #u2724-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2722.focus-st #u2724-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2416.fld-err-st #u2420-4 *,#widgetu2446.fld-err-st #u2447-4 *,#widgetu2429.fld-err-st #u2431-10 *,#widgetu2441.fld-err-st #u2445-4 *,#widgetu2435.fld-err-st #u2437-4 *,#widgetu2722.fld-err-st #u2724-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2416_input,#widgetu2416_prompt,#widgetu2446_input,#widgetu2446_prompt,#widgetu2441_input,#widgetu2441_prompt,#widgetu2435_input,#widgetu2435_prompt,#widgetu2722_input,#widgetu2722_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 12px;
	font-style: italic;
	padding: 6px;
}

#widgetu2416.focus-st #widgetu2416_prompt,#widgetu2446.focus-st #widgetu2446_prompt,#widgetu2429.focus-st #widgetu2429_prompt,#widgetu2441.focus-st #widgetu2441_prompt,#widgetu2435.focus-st #widgetu2435_prompt,#widgetu2722.focus-st #widgetu2722_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2416:hover #widgetu2416_input,#widgetu2416.focus-st #widgetu2416_input,#widgetu2416.fld-err-st #widgetu2416_input,#widgetu2416:hover #widgetu2416_prompt,#widgetu2416.fld-err-st #widgetu2416_prompt,#widgetu2446:hover #widgetu2446_input,#widgetu2446.focus-st #widgetu2446_input,#widgetu2446.fld-err-st #widgetu2446_input,#widgetu2446:hover #widgetu2446_prompt,#widgetu2446.fld-err-st #widgetu2446_prompt,#widgetu2429:hover #widgetu2429_input,#widgetu2429.focus-st #widgetu2429_input,#widgetu2429.fld-err-st #widgetu2429_input,#widgetu2429:hover #widgetu2429_prompt,#widgetu2429.fld-err-st #widgetu2429_prompt,#widgetu2441:hover #widgetu2441_input,#widgetu2441.focus-st #widgetu2441_input,#widgetu2441.fld-err-st #widgetu2441_input,#widgetu2441:hover #widgetu2441_prompt,#widgetu2441.fld-err-st #widgetu2441_prompt,#widgetu2435:hover #widgetu2435_input,#widgetu2435.focus-st #widgetu2435_input,#widgetu2435.fld-err-st #widgetu2435_input,#widgetu2435:hover #widgetu2435_prompt,#widgetu2435.fld-err-st #widgetu2435_prompt,#widgetu2722:hover #widgetu2722_input,#widgetu2722.focus-st #widgetu2722_input,#widgetu2722.fld-err-st #widgetu2722_input,#widgetu2722:hover #widgetu2722_prompt,#widgetu2722.fld-err-st #widgetu2722_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2416.non-empty-st #widgetu2416_prompt,#widgetu2446.non-empty-st #widgetu2446_prompt,#widgetu2429.non-empty-st #widgetu2429_prompt,#widgetu2441.non-empty-st #widgetu2441_prompt,#widgetu2435.non-empty-st #widgetu2435_prompt,#widgetu2722.non-empty-st #widgetu2722_prompt
{
	visibility: hidden;
}

