#u3294-6
{
	line-height: 1.75;
	letter-spacing: 33px;
	font-size: 11px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u3294-2
{
	color: #7F7F7F;
}

#u3390,#u3388,#u3392
{
	position: relative;
}

#u3390_img,#u3388_img,#u3392_img
{
	vertical-align: top;
}

