#u12443-4
{
	font-family: quicksand-n7, sans-serif;
}

#u12444-4
{
	font-family: quicksand-n7, sans-serif;
}

#u12445-4
{
	font-family: quicksand-n7, sans-serif;
}

#u12446-4
{
	font-family: quicksand-n7, sans-serif;
}

#u12447-4
{
	font-family: quicksand-n7, sans-serif;
}

#u12406-4
{
	font-family: quicksand-n3, sans-serif;
}

#u12434-4
{
	font-family: quicksand-n7, sans-serif;
}

