html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 650px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 81px;
	margin-bottom: 81px;
}

#u10279
{
	z-index: 2;
	width: 299px;
	top: 76px;
	left: 0px;
}

#ppu10290-4
{
	width: 0.01px;
	left: -37px;
	position: relative;
}

#pu10290-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#pu10290-4_position_content
{
	margin-top: -152px;
	margin-bottom: 420px;
}

#u10290-4
{
	z-index: 22;
	width: 51px;
	top: 188px;
	left: 65px;
}

#u10290-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u10285
{
	z-index: 8;
	width: 60px;
	height: 27px;
	top: 192px;
	left: 63px;
}

#u10281
{
	z-index: 4;
	width: 69px;
	height: 252px;
	top: 204px;
	left: 68px;
}

#u10287-4
{
	z-index: 10;
	width: 51px;
	top: 234px;
	left: 65px;
}

#u10290-4.MuseLinkActive,#u10287-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u10282
{
	z-index: 5;
	width: 60px;
	height: 27px;
	top: 239px;
	left: 63px;
}

#u10288-4
{
	z-index: 14;
	width: 51px;
	top: 285px;
	left: 65px;
}

#u10287-4.MuseLinkActive,#u10288-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u10283
{
	z-index: 6;
	width: 60px;
	height: 27px;
	top: 289px;
	left: 63px;
}

#u10289-4
{
	z-index: 18;
	width: 51px;
	top: 335px;
	left: 64px;
}

#u10288-4.MuseLinkActive,#u10289-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u10284
{
	z-index: 7;
	width: 60px;
	height: 27px;
	top: 339px;
	left: 63px;
}

#u10291-4
{
	z-index: 26;
	width: 68px;
	top: 384px;
	left: 64px;
}

#u10289-4.MuseLinkActive,#u10291-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u10291-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u10286
{
	z-index: 9;
	width: 60px;
	height: 27px;
	top: 388px;
	left: 63px;
}

#u10285.MuseLinkActive,#u10283.MuseLinkActive,#u10284.MuseLinkActive,#u10286.MuseLinkActive
{
	margin: 0px;
}

#u876
{
	z-index: 34;
	width: 499px;
	min-height: 4248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 11px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u10278-4
{
	z-index: 30;
	width: 278px;
	min-height: 27px;
	bottom: 56px;
	left: 50px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

