html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u606-4
{
	z-index: 3;
	width: 49px;
	min-height: 21px;
	line-height: 1.75;
	letter-spacing: 0px;
	font-size: 11px;
	color: #FFFFFF;
	font-family: quicksand-n3, quicksand, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 15px;
	left: -49px;
}

#u603
{
	z-index: 2;
	width: 777px;
	min-height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -777px;
	margin-top: 20px;
	left: 87px;
}

#u607
{
	z-index: 7;
	width: 20px;
	position: fixed;
	bottom: 6px;
	right: 40px;
}

#u609
{
	z-index: 9;
	width: 20px;
	position: fixed;
	bottom: 6px;
	right: 7px;
}

#u607_img,#u609_img
{
	vertical-align: top;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

