html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 289px;
	padding-bottom: 211px;
	margin-left: auto;
	margin-right: auto;
}

#u2472-4
{
	z-index: 2;
	width: 172px;
	font-size: 20px;
	line-height: 1.75;
	text-align: center;
	color: #000000;
	font-family: pinyon-script, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 394px;
}

#u2473
{
	z-index: 6;
	width: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 427px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -257px;
}

