html
{
	background-color: #BF1A44;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1089.8184920221993px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #920227;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 12px;
}

#pu92
{
	width: 0.01px;
	left: -5px;
	position: relative;
}

#u92
{
	z-index: 2;
	width: 1028px;
	height: 214px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u127
{
	z-index: 31;
	width: 1000px;
	height: 28px;
	margin-right: -10000px;
	left: 5px;
}

#u1035
{
	z-index: 32;
	width: 960px;
	margin-right: -10000px;
	margin-top: 202px;
	left: 25px;
}

#u1038
{
	z-index: 34;
	width: 380px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 305px;
}

#pu102-4
{
	width: 0.01px;
	margin-left: 20px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u102-4
{
	z-index: 3;
	width: 73px;
	min-height: 1px;
	margin-right: -10000px;
}

#u104-4
{
	z-index: 7;
	width: 48px;
	min-height: 1px;
	margin-right: -10000px;
	left: 140px;
}

#u105-4
{
	z-index: 11;
	width: 90px;
	min-height: 1px;
	margin-right: -10000px;
	left: 280px;
}

#u106-4
{
	z-index: 15;
	width: 55px;
	min-height: 1px;
	margin-right: -10000px;
	left: 450px;
}

#u107-4
{
	z-index: 19;
	width: 114px;
	min-height: 1px;
	margin-right: -10000px;
	left: 594px;
}

#u108-4
{
	z-index: 23;
	width: 65px;
	min-height: 1px;
	margin-right: -10000px;
	left: 766px;
}

#u109-4
{
	z-index: 27;
	width: 63px;
	min-height: 1px;
	margin-right: -10000px;
	left: 893px;
}

#u122
{
	z-index: 36;
	width: 960px;
	margin-left: 20px;
}

#pu999-4
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 27px;
	position: relative;
}

#u999-4
{
	z-index: 123;
	width: 117px;
	min-height: 7px;
	line-height: 1.75;
	font-size: 18px;
	color: #DC8325;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1001
{
	z-index: 127;
	width: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 151px;
}

#paccordionu956
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 587px;
}

#accordionu956
{
	z-index: 100;
	width: 352px;
	position: relative;
}

#u957
{
	z-index: 101;
	width: 352px;
	position: relative;
}

#u958-4
{
	z-index: 102;
	width: 342px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u959
{
	z-index: 106;
	width: 301px;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u960
{
	z-index: 107;
	width: 301px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#accordionu917
{
	z-index: 74;
	width: 352px;
	margin-top: 13px;
	position: relative;
}

#u918
{
	z-index: 75;
	width: 352px;
	padding-bottom: 0px;
	position: relative;
}

#u922-4
{
	z-index: 76;
	width: 342px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1.01;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u919
{
	z-index: 80;
	width: 312px;
	margin-left: 12px;
	margin-top: 6px;
	position: relative;
}

#u920
{
	z-index: 81;
	width: 312px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u934
{
	z-index: 82;
	width: 352px;
	margin-top: 10px;
	position: relative;
}

#u935-4
{
	z-index: 83;
	width: 342px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1.01;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u936
{
	z-index: 87;
	width: 340px;
	margin-left: 10px;
	position: relative;
}

#u937-4
{
	z-index: 88;
	width: 340px;
	min-height: 23px;
	line-height: 1.4;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1006-20
{
	z-index: 129;
	width: 388px;
	min-height: 97px;
	line-height: 1.75;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-left: 112px;
	margin-top: 21px;
	position: relative;
}

#u1006-15
{
	text-decoration: underline;
}

#accordionu974
{
	z-index: 108;
	width: 359px;
	margin-left: 617px;
	position: relative;
}

#u975
{
	z-index: 109;
	width: 359px;
	position: relative;
}

#u976-4
{
	z-index: 110;
	width: 349px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u977
{
	z-index: 114;
	width: 152px;
	margin-left: 14px;
	position: relative;
}

#u982
{
	z-index: 117;
	width: 32px;
	position: relative;
	margin-right: -10000px;
}

#u980
{
	z-index: 121;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u978
{
	z-index: 119;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u1012
{
	z-index: 115;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1001_img,#u982_img,#u980_img,#u978_img,#u1012_img
{
	vertical-align: top;
}

#paccordionu938
{
	width: 0.01px;
	margin-left: 617px;
	margin-top: 24px;
	position: relative;
}

#accordionu938
{
	z-index: 92;
	width: 359px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u951
{
	z-index: 93;
	width: 359px;
	padding-bottom: 0px;
	position: relative;
}

#u952-4
{
	z-index: 94;
	width: 349px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u953
{
	z-index: 98;
	width: 200px;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u1278
{
	z-index: 99;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1030-4
{
	z-index: 70;
	bottom: 57px;
	right: 11px;
}

#u1027
{
	z-index: 68;
	width: 960px;
	margin-left: 20px;
	margin-top: 31px;
}

#pu1017-4
{
	width: 0.01px;
	margin-left: 16px;
	position: relative;
}

#u1017-4
{
	z-index: 38;
	width: 73px;
	min-height: 1px;
	margin-right: -10000px;
}

#u1018-4
{
	z-index: 42;
	width: 48px;
	min-height: 1px;
	margin-right: -10000px;
	left: 140px;
}

#u1019-4
{
	z-index: 46;
	width: 90px;
	min-height: 1px;
	margin-right: -10000px;
	left: 280px;
}

#u1020-4
{
	z-index: 50;
	width: 55px;
	min-height: 1px;
	margin-right: -10000px;
	left: 450px;
}

#u1021-4
{
	z-index: 54;
	width: 114px;
	min-height: 1px;
	margin-right: -10000px;
	left: 594px;
}

#u1022-4
{
	z-index: 58;
	width: 65px;
	min-height: 1px;
	margin-right: -10000px;
	left: 766px;
}

#u1023-4
{
	z-index: 62;
	width: 63px;
	min-height: 1px;
	margin-right: -10000px;
	left: 893px;
}

#u1024
{
	z-index: 66;
	width: 960px;
	margin-left: 20px;
}

#u1035_clip,#u122_clip,#u1027_clip,#u1024_clip
{
	width: 960px;
	height: 10px;
}

#u1035_img,#u122_img,#u1027_img,#u1024_img
{
	margin-right: -9px;
}

body
{
	padding-top: 1px;
	padding-bottom: 45px;
}

