html
{
	background-color: #BF1A44;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 968px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #920227;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 13px;
}

#pu1244
{
	width: 0.01px;
	left: -5px;
	position: relative;
}

#u1244
{
	z-index: 2;
	width: 1028px;
	height: 214px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1238
{
	z-index: 31;
	width: 1000px;
	height: 28px;
	margin-right: -10000px;
	left: 5px;
}

#u1249
{
	z-index: 32;
	width: 960px;
	margin-right: -10000px;
	margin-top: 202px;
	left: 25px;
}

#u1272
{
	z-index: 126;
	width: 380px;
	height: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 315px;
}

#U1277_animation
{
	width: 380px;
	height: 170px;
	border: none;
}

#pu1262-4
{
	width: 0.01px;
	margin-left: 20px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1262-4
{
	z-index: 3;
	width: 73px;
	min-height: 1px;
	margin-right: -10000px;
}

#u1242-4
{
	z-index: 7;
	width: 48px;
	min-height: 1px;
	margin-right: -10000px;
	left: 140px;
}

#u1237-4
{
	z-index: 11;
	width: 90px;
	min-height: 1px;
	margin-right: -10000px;
	left: 280px;
}

#u1239-4
{
	z-index: 15;
	width: 55px;
	min-height: 1px;
	margin-right: -10000px;
	left: 450px;
}

#u1247-4
{
	z-index: 19;
	width: 114px;
	min-height: 1px;
	margin-right: -10000px;
	left: 594px;
}

#u1255-4
{
	z-index: 23;
	width: 65px;
	min-height: 1px;
	margin-right: -10000px;
	left: 766px;
}

#u1236-4
{
	z-index: 27;
	width: 63px;
	min-height: 1px;
	margin-right: -10000px;
	left: 893px;
}

#u1260
{
	z-index: 34;
	width: 960px;
	margin-left: 20px;
}

#pu131-4
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 60px;
	position: relative;
}

#u131-4
{
	z-index: 73;
	width: 117px;
	min-height: 7px;
	line-height: 1.75;
	font-size: 18px;
	color: #DC8325;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#accordionu263
{
	z-index: 103;
	width: 352px;
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u264
{
	z-index: 104;
	width: 352px;
	position: relative;
}

#u268-4
{
	z-index: 105;
	width: 342px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u265
{
	z-index: 109;
	width: 301px;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u266
{
	z-index: 110;
	width: 301px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#pu128
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 13px;
	position: relative;
}

#u128
{
	z-index: 72;
	width: 432px;
	min-height: 723px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #DC8325;
	font-size: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#accordionu196
{
	z-index: 77;
	width: 352px;
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u212
{
	z-index: 78;
	width: 352px;
	padding-bottom: 0px;
	position: relative;
}

#u215-4
{
	z-index: 79;
	width: 342px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1.01;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u213
{
	z-index: 83;
	width: 312px;
	margin-left: 12px;
	margin-top: 6px;
	position: relative;
}

#u157
{
	z-index: 84;
	width: 312px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u197
{
	z-index: 85;
	width: 352px;
	margin-top: 10px;
	position: relative;
}

#u200-4
{
	z-index: 86;
	width: 342px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1.01;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u198
{
	z-index: 90;
	width: 340px;
	margin-left: 10px;
	position: relative;
}

#u199-4
{
	z-index: 91;
	width: 340px;
	min-height: 23px;
	line-height: 1.4;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#accordionu226
{
	z-index: 95;
	width: 316px;
	padding-bottom: 0px;
	margin-left: 652px;
	margin-top: 8px;
	position: relative;
}

#u227
{
	z-index: 96;
	width: 316px;
	padding-bottom: 0px;
	position: relative;
}

#u228-4
{
	z-index: 97;
	width: 306px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u229
{
	z-index: 101;
	width: 82px;
	margin-left: 145px;
	margin-top: 7px;
	position: relative;
}

#u1281
{
	z-index: 102;
	width: 82px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1251-4
{
	z-index: 68;
	bottom: 22px;
	right: 12px;
}

#accordionu1138
{
	z-index: 111;
	width: 303px;
	margin-left: 652px;
	margin-top: 23px;
	position: relative;
}

#u1139
{
	z-index: 112;
	width: 303px;
	position: relative;
}

#u1149-4
{
	z-index: 113;
	width: 293px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1;
	color: #DC8325;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u1140
{
	z-index: 117;
	width: 152px;
	margin-left: 145px;
	position: relative;
}

#u1143
{
	z-index: 120;
	width: 32px;
	position: relative;
	margin-right: -10000px;
}

#u1141
{
	z-index: 124;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u1145
{
	z-index: 122;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u1147
{
	z-index: 118;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1143_img,#u1141_img,#u1145_img,#u1147_img
{
	vertical-align: top;
}

#u1253
{
	z-index: 66;
	width: 960px;
	margin-left: 20px;
	margin-top: 40px;
}

#pu1263-4
{
	width: 0.01px;
	margin-left: 16px;
	position: relative;
}

#u1263-4
{
	z-index: 36;
	width: 73px;
	min-height: 1px;
	margin-right: -10000px;
}

#u1241-4
{
	z-index: 40;
	width: 48px;
	min-height: 1px;
	margin-right: -10000px;
	left: 140px;
}

#u1252-4
{
	z-index: 44;
	width: 90px;
	min-height: 1px;
	margin-right: -10000px;
	left: 280px;
}

#u1248-4
{
	z-index: 48;
	width: 55px;
	min-height: 1px;
	margin-right: -10000px;
	left: 450px;
}

#u1259-4
{
	z-index: 52;
	width: 114px;
	min-height: 1px;
	margin-right: -10000px;
	left: 594px;
}

#u1243-4
{
	z-index: 56;
	width: 65px;
	min-height: 1px;
	margin-right: -10000px;
	left: 766px;
}

#u1240-4
{
	z-index: 60;
	width: 63px;
	min-height: 1px;
	margin-right: -10000px;
	left: 893px;
}

#u1245
{
	z-index: 64;
	width: 960px;
	margin-left: 20px;
}

#u1249_clip,#u1260_clip,#u1253_clip,#u1245_clip
{
	width: 960px;
	height: 10px;
}

#u1249_img,#u1260_img,#u1253_img,#u1245_img
{
	margin-right: -9px;
}

