#u92
{
	position: relative;
}

.ie #u92
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u127
{
	border-color: #000000;
	background-color: #920227;
	position: relative;
}

#u1038_img
{
	vertical-align: top;
}

#u1030-4
{
	position: fixed;
}

#u1030-4_img
{
	display: block;
	vertical-align: top;
}

#u102-4,#u104-4,#u105-4,#u106-4,#u107-4,#u108-4,#u109-4,#u1017-4,#u1018-4,#u1019-4,#u1020-4,#u1021-4,#u1022-4,#u1023-4
{
	text-align: center;
	line-height: 1.75;
	color: #DC8325;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1035,#u1038,#u122,#u1027,#u1024
{
	position: relative;
}

#u1035_clip,#u122_clip,#u1027_clip,#u1024_clip
{
	overflow: hidden;
}

