html
{
	background-color: #BF1A44;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 967.5438901113716px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #920227;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 12px;
}

#pu92
{
	width: 0.01px;
	left: -5px;
	position: relative;
}

#u92
{
	z-index: 2;
	width: 1028px;
	height: 214px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u127
{
	z-index: 31;
	width: 1000px;
	height: 28px;
	margin-right: -10000px;
	left: 5px;
}

#u1035
{
	z-index: 32;
	width: 960px;
	margin-right: -10000px;
	margin-top: 202px;
	left: 25px;
}

#u1038
{
	z-index: 34;
	width: 380px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 305px;
}

#pu102-4
{
	width: 0.01px;
	margin-left: 20px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u102-4
{
	z-index: 3;
	width: 73px;
	min-height: 1px;
	margin-right: -10000px;
}

#u104-4
{
	z-index: 7;
	width: 48px;
	min-height: 1px;
	margin-right: -10000px;
	left: 140px;
}

#u105-4
{
	z-index: 11;
	width: 90px;
	min-height: 1px;
	margin-right: -10000px;
	left: 280px;
}

#u106-4
{
	z-index: 15;
	width: 55px;
	min-height: 1px;
	margin-right: -10000px;
	left: 450px;
}

#u107-4
{
	z-index: 19;
	width: 114px;
	min-height: 1px;
	margin-right: -10000px;
	left: 594px;
}

#u108-4
{
	z-index: 23;
	width: 65px;
	min-height: 1px;
	margin-right: -10000px;
	left: 766px;
}

#u109-4
{
	z-index: 27;
	width: 63px;
	min-height: 1px;
	margin-right: -10000px;
	left: 893px;
}

#u122
{
	z-index: 36;
	width: 960px;
	margin-left: 20px;
}

#u915-4
{
	z-index: 105;
	width: 423px;
	text-align: center;
	line-height: 1.75;
	color: #DE982A;
	font-size: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 295px;
	margin-top: 52px;
	position: relative;
}

#pamphletu836
{
	z-index: 74;
	width: 0.01px;
	height: 619px;
	margin-left: 89px;
	margin-top: 53px;
	position: relative;
}

#u847
{
	z-index: 75;
	width: 702px;
	position: relative;
	margin-right: -10000px;
	left: 65px;
}

#u851
{
	position: absolute;
	width: 699px;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	padding-bottom: 1px;
	top: 161px;
}

#u851:hover
{
	border-color: #DEDEDE;
	background-color: transparent;
	margin: 0px;
}

#u871
{
	z-index: 77;
	width: 699px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u851:hover #u871
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u851:active #u871
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u871_img
{
	vertical-align: top;
}

#u851:hover #u871_img
{
	opacity: 0.68;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=68)";
	filter: alpha(opacity=68);
}

#u852
{
	z-index: 79;
	width: 60px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #u852
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u851:hover #u852
{
	border-color: #000000;
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

.ie #u851:hover #u852
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u851:active #u852
{
	border-color: #000000;
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

.ie #u851:active #u852
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u851.PamphletThumbSelected #u852
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u848
{
	position: absolute;
	width: 706px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 1px;
	top: 320px;
}

#u848:hover
{
	border-color: #999999;
	margin: 0px;
}

#u878
{
	z-index: 81;
	width: 702px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u851.PamphletThumbSelected #u871,#u848:hover #u878
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u848:active #u878
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u878_img
{
	vertical-align: top;
}

#u848:hover #u878_img
{
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
}

#u849
{
	position: absolute;
	width: 699px;
	border-color: #999999;
	background-color: #999999;
}

#u849:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.71);
	-pie-background: rgba(153, 153, 153, 0.71);
	width: 698px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u866
{
	z-index: 84;
	width: 699px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u848.PamphletThumbSelected #u878,#u849:hover #u866
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u849:active #u866
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u866_img
{
	vertical-align: top;
}

#u849:hover #u866_img
{
	opacity: 0.62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62)";
	filter: alpha(opacity=62);
}

#u850
{
	z-index: 86;
	width: 60px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #u851.PamphletThumbSelected #u852,.ie #u850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u849.PamphletThumbSelected #u866,#u849:hover #u850
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

.ie #u849:hover #u850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u849:active #u850
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

.ie #u849:active #u850
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u849.PamphletThumbSelected #u850
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u885
{
	position: absolute;
	width: 702px;
	border-color: #999999;
	background-color: transparent;
	top: 484px;
}

#u885:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: transparent;
	width: 701px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u898
{
	z-index: 88;
	width: 702px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u885:hover #u898
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u885:active #u898
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u885.PamphletThumbSelected #u898
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u898_img
{
	vertical-align: top;
}

#u885:hover #u898_img
{
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
}

#u893
{
	z-index: 90;
	width: 699px;
	height: 135px;
	position: relative;
	margin-right: -10000px;
}

.ie #u849.PamphletThumbSelected #u850,.ie #u893
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u855
{
	position: absolute;
	z-index: 91;
	width: 900px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.81);
	-pie-background: rgba(0, 0, 0, 0.81);
	padding-bottom: 44px;
	top: 419px;
	left: -22px;
}

#u857
{
	z-index: 92;
	width: 856px;
	height: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u876
{
	z-index: 93;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u858
{
	z-index: 94;
	width: 856px;
	height: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u883
{
	z-index: 95;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u856
{
	z-index: 96;
	width: 856px;
	height: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u864
{
	z-index: 97;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u890
{
	z-index: 98;
	width: 856px;
	height: 547px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u913
{
	z-index: 99;
	width: 640px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 108px;
}

#u853
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	top: 423px;
	left: 848px;
}

#u853:hover
{
	background-color: #999999;
	margin: 0px;
}

#u853:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u854-4
{
	z-index: 101;
	width: 20px;
	min-height: 20px;
	text-align: center;
	line-height: 1.4;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1030-4
{
	z-index: 70;
	bottom: 12px;
	right: 11px;
}

#u1027
{
	z-index: 68;
	width: 960px;
	margin-left: 20px;
	margin-top: 207px;
}

#pu1017-4
{
	width: 0.01px;
	margin-left: 16px;
	position: relative;
}

#u1017-4
{
	z-index: 38;
	width: 73px;
	min-height: 1px;
	margin-right: -10000px;
}

#u1018-4
{
	z-index: 42;
	width: 48px;
	min-height: 1px;
	margin-right: -10000px;
	left: 140px;
}

#u1019-4
{
	z-index: 46;
	width: 90px;
	min-height: 1px;
	margin-right: -10000px;
	left: 280px;
}

#u1020-4
{
	z-index: 50;
	width: 55px;
	min-height: 1px;
	margin-right: -10000px;
	left: 450px;
}

#u1021-4
{
	z-index: 54;
	width: 114px;
	min-height: 1px;
	margin-right: -10000px;
	left: 594px;
}

#u1022-4
{
	z-index: 58;
	width: 65px;
	min-height: 1px;
	margin-right: -10000px;
	left: 766px;
}

#u1023-4
{
	z-index: 62;
	width: 63px;
	min-height: 1px;
	margin-right: -10000px;
	left: 893px;
}

#u1024
{
	z-index: 66;
	width: 960px;
	margin-left: 20px;
}

#u1035_clip,#u122_clip,#u1027_clip,#u1024_clip
{
	width: 960px;
	height: 10px;
}

#u1035_img,#u122_img,#u1027_img,#u1024_img
{
	margin-right: -9px;
}

body
{
	padding-top: 1px;
}

