#u619
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u512-7
{
	text-align: center;
	font-size: 18px;
	line-height: 1.75;
	color: #000000;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u644-4
{
	line-height: 1.75;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
}

#u639-4
{
	text-align: center;
	letter-spacing: 6px;
	line-height: 1.75;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
}

#u634_img
{
	display: block;
	vertical-align: top;
}

#u641-4
{
	font-size: 24px;
	letter-spacing: 14px;
	line-height: 1.75;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u555-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	line-height: 1.4;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u555-4:hover p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u555-4.PamphletThumbSelected p
{
	color: #FF0000;
	visibility: inherit;
	line-height: 1.4;
	text-align: center;
}

#u634,#u556,#u546,#pamphletu407,#u426
{
	position: relative;
}

#u431
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u432-4
{
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	line-height: 1.4;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u431:active #u432-4
{
	color: #6B6B6B;
	visibility: inherit;
}

#u431:hover #u432-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u429
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u430-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	line-height: 1.4;
	color: #7F7F7F;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u429:active #u430-4
{
	color: #6B6B6B;
	visibility: inherit;
}

#u429:hover #u430-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u429.PamphletThumbSelected #u430-4 p
{
	color: #FF0000;
	visibility: inherit;
	font-size: 12px;
	line-height: 1.4;
	text-align: center;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u540
{
	position: absolute;
	border-color: #7F7F7F;
	background-color: transparent;
}

.ie #u540
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u431.PamphletThumbSelected,#u540:hover
{
	background-color: transparent;
}

.ie #u540:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u540.PamphletThumbSelected
{
	background-color: transparent;
}

.ie #u540.PamphletThumbSelected
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u410
{
	position: absolute;
}

#u411
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.79);
	-pie-background: rgba(255, 255, 255, 0.79);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	position: relative;
}

#u412-7
{
	color: #999999;
	line-height: 1.4;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u421
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.86);
	-pie-background: rgba(255, 255, 255, 0.86);
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	-khtml-border-radius: 42px;
	border-radius: 42px;
	position: relative;
}

#u422-13
{
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u533
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.51);
	-pie-background: rgba(255, 255, 255, 0.51);
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	-khtml-border-radius: 42px;
	border-radius: 42px;
	position: relative;
}

#u552-6
{
	color: #7F7F7F;
	line-height: 1.75;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u621-4
{
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	line-height: 1.4;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u621-4:hover p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u622-4
{
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	line-height: 1.4;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u622-4:hover p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u431.PamphletThumbSelected #u432-4 p,#u621-4.PamphletThumbSelected p,#u622-4.PamphletThumbSelected p
{
	color: #FF0000;
	visibility: inherit;
	line-height: 1.4;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u459-4
{
	text-align: center;
	font-size: 9px;
	line-height: 1.75;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
}

#u510,#u627,#u631
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

