
.emptybox{
         font-family: 'Nunito', sans-serif;
        letter-spacing: 0.2em;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  clear: left;
  margin-top: 0px;
}

#tooltip{
         font-family: 'Nunito', sans-serif;
        letter-spacing: 0.2em;
  z-index:3;
  opacity: 0.8;
  filter: alpha(opacity=90);

  font-size: 12px;

  text-align: left;
  position: absolute;
width:auto;
height:auto;
  color: #000;
  display: none;
  background-color: #FFFF33;



  padding: 8px;
  line-height: 15px;



  }