#u897-4
{
	background-color: #FFFFFF;
	text-align: center;
	color: #FF0000;
	line-height: 1.75;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u898-4
{
	background-color: #FFFFFF;
	text-align: center;
	color: #FF0000;
	line-height: 1.75;
	font-family: quicksand-n4, quicksand, sans-serif;
	font-weight: 400;
	position: fixed;
}

