#u2120-4
{
	font-family: alex-brush-n4, cursive;
}

#u2079.PamphletThumbSelected #u2120-4 p,#u2131-4
{
	font-family: pinyon-script-n4, cursive;
}

#u2127-4,#u2117-4,#u2118-4,#u2119-4,#u2123-4,#u2122-31,#u2137-4,#u2132-4,#u2133-4,#u2485-4,#u2148-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2149-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2168-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2166-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2163-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2152-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2176-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2162-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2160-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2157-4
{
	font-family: vera-sans-n4, sans-serif;
}

#u2156-3
{
	font-family: vera-sans-n4, sans-serif;
}

#widgetu2147_input,#widgetu2147_prompt,#widgetu2165_input,#widgetu2165_prompt,#widgetu2158_input,#widgetu2158_prompt,#widgetu2153_input
{
	font-family: vera-sans, sans-serif;
}

#u2212-4,#u2486-4
{
	font-family: vera-sans-n4, sans-serif;
}

