@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	background: #063A95 url("../../images/prometonesmobile-04.png") no-repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
}

#pu789
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 30px;
}

#u789
{
	z-index: 3;
	width: 284px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	padding: 62px 22px 5px 13px;
}

#u794
{
	z-index: 6;
	width: 270px;
	min-height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 11px;
	position: relative;
}

#pu805-4
{
	width: 0.01px;
	margin-top: 22px;
	position: relative;
}

#u805-4
{
	z-index: 9;
	width: 67px;
	min-height: 20px;
	text-align: center;
	line-height: 1.75;
	font-size: 10px;
	color: #063A95;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u807-4
{
	z-index: 13;
	width: 67px;
	min-height: 20px;
	text-align: center;
	line-height: 1.75;
	font-size: 10px;
	color: #063A95;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u808-4
{
	z-index: 17;
	width: 77px;
	min-height: 20px;
	text-align: center;
	line-height: 1.75;
	font-size: 10px;
	color: #063A95;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u796
{
	z-index: 7;
	width: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 256px;
}

#u777
{
	z-index: 4;
	width: 276px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u835
{
	z-index: 2;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 526px;
}

#u830
{
	z-index: 21;
	width: 188px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u836
{
	z-index: 23;
	width: 187px;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u796_img,#u777_img,#u830_img,#u836_img
{
	vertical-align: top;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -525px;
}

