#u10260-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10257-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10258-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10259-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10261-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10248-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10046-4,#u10047-4,#u10048-4,#u10053-4,#u9860-4,#u10052-4,#u10049-4,#u9929-4,#u9925-4,#u10050-4,#u9993-4,#u10051-4,#u10036-4,#u10039-4,#u10042-4,#u10044-4,#u10072-4,#u10084-4,#u10087-4,#u10090-4,#u10112-4,#u10136-4,#u10160-4,#u10293-4,#u12033-4,#u12078-4,#u12110-4,#u12127-4,#u12145-4,#u12170-4,#u10093-4
{
	font-family: quicksand-n4, sans-serif;
}

