@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background: #7F7F7F url("../../images/background2.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
}

#page_position_content
{
	margin-top: 29px;
	margin-bottom: 2px;
}

#u10344
{
	z-index: 2;
	width: 299px;
	position: relative;
}

#pamphletu11543
{
	z-index: 5;
	width: 0.01px;
	height: 364px;
	left: -1px;
	margin-top: 113px;
	position: relative;
}

#u11548
{
	position: absolute;
	width: 381px;
}

#u11548popup
{
	z-index: 6;
}

#u11554
{
	z-index: 7;
	width: 379px;
	height: 159px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u11555-8
{
	z-index: 8;
	width: 340px;
	min-height: 140px;
	line-height: 1.4;
	color: #999999;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u11555-3,#u11555-4
{
	text-align: center;
}

#u11555-6
{
	text-align: left;
}

#u12014-4
{
	z-index: 16;
	width: 200px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 85px;
}

#u12015-4
{
	z-index: 20;
	width: 202px;
	min-height: 23px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 97px;
}

#u12015-2
{
	padding-right: 17px;
}

#u11564
{
	z-index: 24;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
	left: 213px;
}

#u11566
{
	position: absolute;
	width: 64px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -4px;
	left: -5px;
}

#u11566.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u12009-4
{
	z-index: 26;
	width: 55px;
	min-height: 25px;
	background-color: transparent;
	line-height: 1.75;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u11566:hover #u12009-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 4px -10000px 0px 0px;
}

#u11566:active #u12009-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 4px -10000px 0px 0px;
}

#u11566.PamphletThumbSelected #u12009-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 4px -10000px 0px 0px;
}

#u11566.PamphletThumbSelected #u12009-4 p
{
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu11534
{
	width: 0.01px;
	left: -1px;
	top: -51px;
	margin-bottom: -51px;
	position: relative;
}

#u11534
{
	z-index: 4;
	width: 380px;
	height: 71px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u12010-4
{
	z-index: 30;
	width: 40px;
	min-height: 2px;
	text-align: center;
	line-height: 1.75;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 316px;
}

#u12013-4
{
	z-index: 34;
	width: 41px;
	min-height: 1px;
	text-align: center;
	line-height: 1.75;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 125px;
}

#u13224-4
{
	z-index: 38;
	width: 61px;
	text-align: center;
	line-height: 1.75;
	font-family: quattrocento-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 17px;
}

#page .verticalspacer
{
	clear: both;
}

