#u2117-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u2114-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u2115-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u2116-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u2118-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u107-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u554-4:hover p
{
	font-family: quicksand-n7, sans-serif;
}

#u554-4:active p
{
	font-family: quicksand-n7, sans-serif;
}

#u554-4.AccordionPanelTabOpen p,#u554-4
{
	font-family: quicksand-n7, sans-serif;
}

#u550-4:hover p
{
	font-family: quicksand-n7, sans-serif;
}

#u550-4:active p
{
	font-family: quicksand-n7, sans-serif;
}

#u550-4.AccordionPanelTabOpen p,#u550-4
{
	font-family: quicksand-n7, sans-serif;
}

#u567-4,#u580-4
{
	font-family: quicksand-n4, sans-serif;
}

