#u10257-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10258-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10259-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10260-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10261-4
{
	font-family: quicksand-n7, sans-serif;
}

#u10248-4
{
	font-family: quicksand-n7, sans-serif;
}

#u12535-4,#u12727-4,#u12821-4,#u13074-4,#u12921-4,#u12924-4,#u12607-4,#u12686-4,#u12681-4,#u12657-4,#u13024-4,#u13025-4,#u12597-4,#u12899-4,#u12721-4,#u12795-4,#u12856-4,#u12512-4,#u12639-4,#u12514-4,#u12970-4,#u13038-4,#u12871-4,#u12901-4,#u12573-4,#u12792-4,#u12668-4,#u12636-4,#u12786-4,#u12897-4,#u12767-4
{
	font-family: quicksand-n4, sans-serif;
}

