html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	padding-right: 960px;
	padding-bottom: -100px;
	margin-left: auto;
	margin-right: auto;
}

#u740
{
	z-index: 6;
	width: 318px;
	top: 56px;
	left: 0px;
}

#u2117-4
{
	z-index: 26;
	width: 51px;
	top: 172px;
	left: 63px;
}

#u2117-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u2112
{
	z-index: 12;
	width: 60px;
	height: 27px;
	top: 172px;
	left: 63px;
}

#u2108
{
	z-index: 8;
	width: 69px;
	height: 252px;
	top: 184px;
	left: 68px;
}

.ie #u2108
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2109
{
	z-index: 9;
	width: 60px;
	height: 27px;
	top: 219px;
	left: 63px;
}

#u2114-4
{
	z-index: 14;
	width: 51px;
	top: 220px;
	left: 63px;
}

#u2117-4.MuseLinkActive,#u2114-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u2110
{
	z-index: 10;
	width: 60px;
	height: 27px;
	top: 269px;
	left: 63px;
}

#u2115-4
{
	z-index: 18;
	width: 51px;
	top: 270px;
	left: 63px;
}

#u2114-4.MuseLinkActive,#u2115-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u2111
{
	z-index: 11;
	width: 60px;
	height: 27px;
	top: 319px;
	left: 63px;
}

#u2116-4
{
	z-index: 22;
	width: 51px;
	top: 320px;
	left: 63px;
}

#u2115-4.MuseLinkActive,#u2116-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u2113
{
	z-index: 13;
	width: 60px;
	height: 27px;
	top: 368px;
	left: 63px;
}

#u2112.MuseLinkActive,#u2111.MuseLinkActive,#u2113.MuseLinkActive
{
	margin: 0px;
}

#u2118-4
{
	z-index: 30;
	width: 68px;
	top: 368px;
	left: 63px;
}

#u2116-4.MuseLinkActive,#u2118-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u2118-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u107-4
{
	z-index: 2;
	width: 278px;
	min-height: 27px;
	bottom: 29px;
	left: 63px;
}

body
{
	padding-top: 30px;
	padding-bottom: -200px;
}

